/*Target footer icons*/
#facebook-icon,
#twitter-icon,
#linkedin-icon {
		width: 40px; 
		height: 40px; 
	}

/*Target cards*/
.card {
    width: 18rem; /*18 times default font size*/
    height: 100%; /* Set a fixed height for all cards */
}